@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
*{
	box-sizing:border-box;
	-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.container{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
.row{
	text-align: center;
	vertical-align:bottom;
	table{
		th{
			text-align: center;
		}
		thead{
			background-color: green;
				color:#FFF;
		}
	}	
	.roja{
		table{
			thead{
				background-color: red;
				.claro{
					background-color: #FA8072;
				}
			}
		}
	}	
}